<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>547716254948-viiicc33fus3e7bm26gkmr6fd80mocp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547716254948-viiicc33fus3e7bm26gkmr6fd80mocp0</string>
	<key>API_KEY</key>
	<string>AIzaSyBU37KCtKqZ98mRuz4YqakR1k6ek7PyRDM</string>
	<key>GCM_SENDER_ID</key>
	<string>547716254948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.jera.Labs</string>
	<key>PROJECT_ID</key>
	<string>jera-labs</string>
	<key>STORAGE_BUCKET</key>
	<string>jera-labs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:547716254948:ios:cd8f2b0f0e25730e</string>
	<key>DATABASE_URL</key>
	<string>https://jera-labs.firebaseio.com</string>
</dict>
</plist>